*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content:space-between;
    background: #242424;
    align-items: center;
    padding: 10px;
    margin: 0px;

}

.logo{
    color: #bffe02;
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
}

.logo span{
    color: red; 
}

nav ul{
    display: flex; 
}

nav ul li{
    padding-right: 40px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 19px;
    font-weight: 700;
}
nav ul li a:hover{
    color:red;
}